extends ./base/base.pug

block variables
    - const title = "Trang chủ"
    - const current = "/"
    include ./components/carousel.pug
block content
    include ./partials/header.pug
    h2 home project
    include ./partials/footer.pug